<?xml version="1.0"?>
<launch>
    <!-- Terminal Input -->
    <node pkg="f1tenth_modules" name="KeyInput" type="KeyInput" output="screen"/>

    <!-- Joy stick driver-->
    <arg name="dev" default="/dev/input/js0" />
    <node pkg="joy" name="joy" type="joy_node">
        <param name="dev" value="$(arg dev)" /> <!-- Customize this to match the location your joystick is plugged in on-->
        <param name="deadzone" value="0.2" />
        <param name="autorepeat_rate" value="40" />
        <param name="coalesce_interval" value="0.025" />
    </node>

    <!-- MUX-->
    <node pkg="f1tenth_modules" name="MuxNode" type="MuxNode" output="screen">
        <!-- ??rosparams??-->
    </node>

    <node pkg="f1tenth_modules" name="JoyStick" type="JoyStick" output="screen"/>
    <!-- Wallfollowing -->
    
    <!-- GapFollowing -->

    <!-- EmergencyBrake -->
    <node pkg="f1tenth_modules" name="SafetyNode" type="SafetyNode" output="screen">
        <rosparam command="load" file="$(find f1tenth_modules)/params.yaml"/>
    </node>

</launch>